body {
  background-color:  rgb(251, 238, 224);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  line-height: normal;
  font-weight: 500;
}

h1, h2 {
  font-size: medium;
  font-weight: 900;
  font-style: italic;
  color: rgb(255, 0, 136);
}

#button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(85, 4, 85);
  padding: 20px;
  line-height: 50px;
}

#button:hover {
  background-color: gold;
  color: rgb(0, 0, 0);
}

.text-centered {
  text-align: center;
}

.container {
  width: 50%;
  margin: 0 auto;
}

#avatar {
   border-radius: 50%;
   width: 12%;
   height: auto;
}

#avatar:hover {
  width: 100%;
  transition: ease-in 4s;

}

.card {
  background: white;
  margin: 50px;
  padding: 30px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.social-icons{
  color: black;
  background-color: rgb(251, 238, 224) ;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }

}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  body {
    font-size: 80%
  }

  #button {
    padding: 10px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  body {
    font-size: 60%
  }
  #button {
    padding: 5px;
  }
}
